body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .hvcustomize{
    height: 3rem !important;
    line-height: 2.5rem;
    /* background-color: aqua; */
  }

  .hvcustomize:hover{
    background-color: #17a2b8;
    color: #fff;
  }